@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Task Traker Web API</h1>
    <p>Here you can find Swagger Cocumentation and UI to test API</p>
    <p>Swagger Documentation: add "/swagger/v1/swagger.json" to URL</p>
    <p>Swagger UI: add "/swagger" to URL</p>
</div>
